*{
    margin: 0;
    padding: 0;
    background-color: #f4f7f7;
    color: #1f4e5f;
}

h1{
    justify-content: center;
    background-color: #e8f1f5;
    float: left;
}

form{
    float: left;
}

#formulario1{
    display: block;
    margin: auto;
}


img{
    width: 60%;
    max-width: 500px;
    height: 30%;
    max-height: 400px;
    display: block;
    margin: auto;
}
label{
    padding: 3px;
    margin: 3px;
}

input{
    margin: 3px;
    padding: 3px;
}

#enviar{
    margin: 5px;
    padding: 15px;
    font-size: 20px;
    align-items: center;
    margin-left: 10%;
    border: 3px solid  #27296d;
    background-color: #d6c8ff;
}

#cancelar{
    margin: 5px;
    padding: 15px;
    font-size: 20px;
    align-items: center;
    border: 3px solid  #27296d;
    background-color: #d6c8ff;
}

#anterior{
    margin: 5px;
    padding: 15px;
    font-size: 20px;
    align-items: center;
    display: inline-block;
    margin-left: 15%;
    border: 3px solid  #27296d;
    background-color: #d6c8ff;
}

#siguiente{
    margin: 5px;
    padding: 15px;
    font-size: 20px;
    align-items: center;
    border: 3px solid  #27296d;
    background-color: #d6c8ff;
}

#iniciar{
    margin: 5px;
    padding: 15px;
    font-size: 20px;
    align-items: center;
    border: 3px solid  #27296d;
    background-color: #d6c8ff;
}

